    
#banner
	.banner_content
		%h1 Note&Pen
		%p Your life's Work
		%button= link_to "Sign Up", new_user_registration_path
#testimonial
	.wrapper
		%p.quote "He listens well who takes notes."
		%p.name - Dante 
#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Journal
				%p Promote self-awareness and mindfulness. Why is it that I do what I do? Focus on present thoughts and feelings, past actions.

			.callout
				%h2 Note
				%p Visual note-taking translates what we hear into pictures that give context, color, and meaning. By adding symbols, visual metaphors, likenesses of people, and room layouts, we add several dimensions.


			.callout
				%h2 Think
				%p Stimulate critical thinking, use pen marks to track your thinking and remember what is said in class, or prepare for a test.
#bottom_cta
	.wrapper
		%h2 Store All Your Notes!
		%p Be Different, Join the Elite!
		%button= link_to "Start Here!", new_user_registration_path

%footer
	%p &copy; Note&Pen